<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if flash.any? %>
      <script type= "text/javascript">
        <% flash.each do |message_type, message| %>
        <% message_type = "success" if message_type == "success" %>
        <% message_type = "info" if message_type == "notice" %>
        <% message_type = "warning" if message_type == "danger" %>
        <% message_type = "error" if message_type == "alert" %>
         toastr['<%= message_type %>']('<%= message %>');
        
            <% end %>
      </script>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
