<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <% if flash.any? %>
      <script type= "text/javascript">
        <% flash.each do |message_type, message| %>
        <% key = "success" if key == "success" %>
        <% key = "warning" if key == "danger" %>
        <% key = "error" if key == "alert" %>
         toastr['<%= message_type %>']('<%= message %>');
        
            <% end %>
      </script>
    <% end %>
  </body>
</html>
